/* Header  */
.it-header-slim-wrapper-tent,
.it-header-slim-wrapper {
  height: 35px;
}

.it-header-slim-wrapper .it-header-slim-wrapper-content a.navbar-brand,
.it-header-slim-wrapper
  .it-header-slim-wrapper-content
  .nav-mobile
  ul.link-list
  a {
  padding-top: 0px;
}

.it-header-center-wrapper
  .it-header-center-content-wrapper
  .it-brand-wrapper
  a
  .icon {
  width: 72px;
  height: 62px;
}

.it-header-center-wrapper {
  height: 90px;
}

.map-preview {
  min-width: 100%;
  height: 500px;
}

.relative-map {
  position: relative;
  overflow: hidden;
}

.white {
  background: white;
}

.btn.btn-light {
  background: white;
}

.active {
  background: #999 !important;
}

#map-full {
  min-width: 100%;
  min-height: 720px;
  max-height: 720px;
  z-index: 1;
}

#loadingPanel {
  width: 100%;
  height: 600px;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  z-index: 100;
  display: none;
}

#loadingPanel > .distance-top {
   margin-top: 10%;
}

#fullTrailPage {
  width: 100%;
  min-height: 1000px;
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 0px;
  z-index: 2;
  display: none;
}

#fullTrailPage .container {
  overflow-y: scroll;
}

#absolute-wrapper {
  position: absolute;
  width: 100%;
}

.leaflet-left {
  left: 95%;
}

.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 25px;
}

.router-link-active .nav-item {
  border-bottom: 2px white solid;
}

.clickable {
  cursor: pointer;
}

.column-map {
  padding: 1%;
  padding-bottom: 0;
  /* margin-bottom: 20px; */
  z-index: 1;
}

.scrollable {
  overflow: scroll;
  max-height: 720px;
}

.column-hikes tbody tr {
  cursor: pointer;
}

.interactive-table tbody tr:hover {
  background-color: #c3c3c3;
}

.interactive-table tbody tr:hover svg {
  cursor: pointer;
}

.space-up {
  padding-top: 2%;
}

.admin-menu {
  border-bottom: 1px solid #999;
  padding-bottom: 1%;
}

.admin-menu label {
  cursor: pointer;
}

.admin-menu label:hover {
  text-decoration: underline;
}

ul.link-list {
  border-left: 0px;
  border-right: 0px;
}

.hide {
  z-index: -1;
}

.pulse {
  animation: pulse-animation 1s infinite alternate-reverse;
}

@keyframes pulse-animation {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.active {
  background: white !important;
  color: black !important;
}

.cut-text { 
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}